openjdk23/jdk/test/jaxp/javax/xml/jaxp/unittest/validation/tck/Bug6943252In/unsignedInt_fractionDigits004.xsd

<?xml version='1.0'?>
<!--
  ~ StarshipOS Copyright (c) 2025. R.A. James
  -->

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
<!-- Schema to test unsignedInt datatype -->
  <xsd:element name='test' type='fooType' />
  <xsd:complexType name='fooType' > 
    <xsd:sequence>
      <xsd:element name='foo' >
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedInt">
            <xsd:fractionDigits value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
