openjdk23/jdk/test/jaxp/javax/xml/jaxp/functional/javax/xml/parsers/xmlfiles/test.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
 ~ StarshipOS Copyright (c) 2025. R.A. James
 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="contact">
<xs:complexType>
<xs:sequence>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="phone" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
