openjdk23/jdk/test/jaxp/javax/xml/jaxp/unittest/validation/mgJ014.xsd

<?xml version="1.0"?>
<!--
  ~ StarshipOS Copyright (c) 2025. R.A. James
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:choice minOccurs="0" maxOccurs="999999999">
			<xsd:element name="e1"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
