openjdk23/jdk/test/jaxp/javax/xml/jaxp/functional/javax/xml/validation/xmlfiles/test1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
 <!--
  ~ StarshipOS Copyright (c) 2025. R.A. James
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="address">
<xs:complexType>
<xs:sequence>
  <xs:element name="street" type="xs:string"/>
  <xs:element name="city" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
